.menu-title {
  font-size: 2rem;
  margin: 30px;
}

.menu-item {
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-title {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.item-image {
  width: 250px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}

.item-desc {
  font-size: 16px;
  width: 80%;
}
